<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Organizator zadań</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="authh.user" class="nav-item">
          <a class="nav-link" routerLink="/toDo" routerLinkActive="active">Do zrobienia</a>
        </li>
        <li *ngIf="authh.user" class="nav-item">
          <a class="nav-link" routerLink="/done" routerLinkActive="active">Gotowe</a>
        </li>

        <li *ngIf="authh.user" class="nav-item">
          <a class="nav-link" routerLink="/add" routerLinkActive="active">Dodaj zadanie</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLink="/secret"  routerLinkActive="active">Sekretna strona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">O nas</a>
        </li>

      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!authh.user" style="margin-left: 5px"
              routerLink="/login" routerLinkActive="active">Zaloguj się
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!authh.user" style="margin-left: 5px"
              routerLink="/register" routerLinkActive="active">Zarejestruj się
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="authh.user" (click)="logout()"
              style="margin-left: 5px">Wyloguj się
      </button>
    </div>
  </nav>
</div>

<div class="container" style="display: flex; justify-content: space-around;">
  <div class="row">
    <div class="span6 offset3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
